In [2]:
import pandas as pd
import numpy as np
import matplotlib as mp # graficos 
import seaborn as sb # estadistica y visualizacion

In [9]:
Enfermedades_Tropicales= pd.read_csv("C:/Users/Mateo/Documents/egresos_TD/egresos_hospitalarios_2021.csv", header=0, sep=';', low_memory= False)
E1= Enfermedades_Tropicales.causa3.str.contains("dengue|chagas|leishmaniasis", case=False, regex=True)
E2= Enfermedades_Tropicales.cau_cie10.str.contains("dengue|chagas|leishmaniasis", case=False, regex=True)
df1= Enfermedades_Tropicales[E1 & E2]

In [ ]:
de2= df1.replace(to_replace ="Fiebre del dengue [dengue clásico]", value =  "A90", inplace = True)
de3= df1.replace(to_replace ="Fiebre del dengue hemorrágico", value = "A91", inplace = True)
de4= df1.replace(to_replace ="Enfermedad de Chagas", value = "B57", inplace = True)
de5= df1.replace(to_replace ="Enfermedad de Chagas aguda que afecta al corazón", value = "B57.0", inplace = True)
de6= df1.replace(to_replace ="Enfermedad de Chagas aguda que no afecta al corazón", value = "B57.1", inplace = True)
de7= df1.replace(to_replace ="Enfermedad de Chagas (crónica) que afecta al corazón", value = "B57.2", inplace = True)
de9= df1.replace(to_replace ="Enfermedad de Chagas (crónica) que afecta al sistema digestivo", value = "B57.3", inplace = True)
de10= df1.replace(to_replace ="Enfermedad de Chagas (crónica) que afecta al sistema nervioso", value = "B57.4", inplace = True)
de11= df1.replace(to_replace ="Enfermedad de Chagas (crónica) que afecta otros órganos", value = "B57.5", inplace = True)
de12= df1.replace(to_replace ="Leishmaniasis", value = "B55", inplace = True)
de10= df1.replace(to_replace ="Leishmaniasis visceral", value = "B55.0", inplace = True)
de13= df1.replace(to_replace ="Leishmaniasis cutánea", value = "B55.1", inplace = True)
de14= df1.replace(to_replace ="Leishmaniasis mucocutánea", value = "B55.2", inplace = True)
de15= df1.replace(to_replace ="Leishmaniasis, no especificada", value = "B55.9", inplace = True)
de16= df1.replace(to_replace ="Dengue", value =  "A97", inplace = True)
de17= df1.replace(to_replace ="Dengue sin signos de alarma", value =  "A97.0", inplace = True)
de18= df1.replace(to_replace ="Dengue con signos de alarma", value =  "A97.1", inplace = True)
de19= df1.replace(to_replace ="Dengue severo", value =  "A97.2", inplace = True)
de20= df1.replace(to_replace ="Dengue no especificado", value =  "A97.9", inplace = True)

In [ ]:
dp1= df1.iloc[:,0].replace(to_replace ="Azuay", value = "1", inplace = True)
dp2= df1.iloc[:,0].replace(to_replace ="Bolívar", value = "2", inplace = True)
dp3= df1.iloc[:,0].replace(to_replace ="Cañar", value = "3", inplace = True)
dp4= df1.iloc[:,0].replace(to_replace ="Carchi", value = "4", inplace = True)
dp5= df1.iloc[:,0].replace(to_replace ="Cotopaxi", value = "5", inplace = True)
dp6= df1.iloc[:,0].replace(to_replace ="Chimborazo", value = "6", inplace = True)
dp7= df1.iloc[:,0].replace(to_replace ="El Oro", value = "7", inplace = True)
dp8= df1.iloc[:,0].replace(to_replace ="Esmeraldas", value = "8", inplace = True)
dp9= df1.iloc[:,0].replace(to_replace ="Guayas", value = "9", inplace = True)
dp10= df1.iloc[:,0].replace(to_replace ="Imbabura", value = "10", inplace = True)
dp11= df1.iloc[:,0].replace(to_replace ="Loja", value = "11", inplace = True)
dp12= df1.iloc[:,0].replace(to_replace ="Los Ríos", value = "12", inplace = True)
dp13= df1.iloc[:,0].replace(to_replace ="Manabí", value = "13", inplace = True)
dp14= df1.iloc[:,0].replace(to_replace ="Morona Santiago", value = "14", inplace = True)
dp15= df1.iloc[:,0].replace(to_replace ="Napo", value = "15", inplace = True)
dp16= df1.iloc[:,0].replace(to_replace ="Pastaza", value = "16", inplace = True)
dp17= df1.iloc[:,0].replace(to_replace ="Pichincha", value = "17", inplace = True)
dp18= df1.iloc[:,0].replace(to_replace ="Tungurahua", value = "18", inplace = True)
dp19= df1.iloc[:,0].replace(to_replace ="Zamora Chinchipe", value = "19", inplace = True)
dp20= df1.iloc[:,0].replace(to_replace ="Galápagos", value = "20", inplace = True)
dp21= df1.iloc[:,0].replace(to_replace ="Sucumbíos", value = "21", inplace = True)
dp22= df1.iloc[:,0].replace(to_replace ="Orellana", value = "22", inplace = True)
dp23= df1.iloc[:,0].replace(to_replace ="Santo Domingo de los Tsáchilas", value = "23", inplace = True)
dp24= df1.iloc[:,0].replace(to_replace ="Santa Elena", value = "24", inplace = True)
dp25= df1.iloc[:,16].replace(to_replace ="Azuay", value = "1", inplace = True)
dp26= df1.iloc[:,16].replace(to_replace ="Bolívar", value = "2", inplace = True)
dp27= df1.iloc[:,16].replace(to_replace ="Cañar", value = "3", inplace = True)
dp28= df1.iloc[:,16].replace(to_replace ="Carchi", value = "4", inplace = True)
dp29= df1.iloc[:,16].replace(to_replace ="Cotopaxi", value = "5", inplace = True)
dp30= df1.iloc[:,16].replace(to_replace ="Chimborazo", value = "6", inplace = True)
dp31= df1.iloc[:,16].replace(to_replace ="El Oro", value = "7", inplace = True)
dp32= df1.iloc[:,16].replace(to_replace ="Esmeraldas", value = "8", inplace = True)
dp33= df1.iloc[:,16].replace(to_replace ="Guayas", value = "9", inplace = True)
dp34= df1.iloc[:,16].replace(to_replace ="Imbabura", value = "10", inplace = True)
dp35= df1.iloc[:,16].replace(to_replace ="Loja", value = "11", inplace = True)
dp36= df1.iloc[:,16].replace(to_replace ="Los Ríos", value = "12", inplace = True)
dp37= df1.iloc[:,16].replace(to_replace ="Manabí", value = "13", inplace = True)
dp38= df1.iloc[:,16].replace(to_replace ="Morona Santiago", value = "14", inplace = True)
dp39= df1.iloc[:,16].replace(to_replace ="Napo", value = "15", inplace = True)
dp40= df1.iloc[:,16].replace(to_replace ="Pastaza", value = "16", inplace = True)
dp41= df1.iloc[:,16].replace(to_replace ="Pichincha", value = "17", inplace = True)
dp42= df1.iloc[:,16].replace(to_replace ="Tungurahua", value = "18", inplace = True)
dp43= df1.iloc[:,16].replace(to_replace ="Zamora Chinchipe", value = "19", inplace = True)
dp44= df1.iloc[:,16].replace(to_replace ="Galápagos", value = "20", inplace = True)
dp45= df1.iloc[:,16].replace(to_replace ="Sucumbíos", value = "21", inplace = True)
dp46= df1.iloc[:,16].replace(to_replace ="Orellana", value = "22", inplace = True)
dp47= df1.iloc[:,16].replace(to_replace ="Santo Domingo de los Tsáchilas", value = "23", inplace = True)
dp48= df1.iloc[:,16].replace(to_replace ="Santa Elena", value = "24", inplace = True)
dp49= df1.iloc[:,0].replace(to_replace ="Exterior", value = "88", inplace = True)
dp50= df1.iloc[:,16].replace(to_replace ="Exterior", value = "88", inplace = True)
dp51= df1.replace(to_replace ="Zonas no delimitadas", value = "90", inplace = True)

In [ ]:
dc1= df1.replace(to_replace ="Cuenca", value = "101", inplace = True)
dc2= df1.replace(to_replace ="Girón", value = "102", inplace = True)
dc3= df1.replace(to_replace ="Gualaceo", value = "103", inplace = True)
dc4= df1.replace(to_replace ="Nabón", value = "104", inplace = True)
dc5= df1.replace(to_replace ="Paute", value = "105", inplace = True)
dc6= df1.replace(to_replace ="Pucará", value = "106", inplace = True)
dc7= df1.replace(to_replace ="San Fernando", value = "107", inplace = True)
dc8= df1.replace(to_replace ="Santa Isabel", value = "108", inplace = True)
dc9= df1.replace(to_replace ="Sigsig", value = "109", inplace = True)
dc10= df1.replace(to_replace ="Oña", value = "110", inplace = True)
dc11= df1.replace(to_replace ="Chordeleg", value = "111", inplace = True)
dc12= df1.replace(to_replace ="El Pan", value = "112", inplace = True)
dc13= df1.replace(to_replace ="Sevilla de Oro", value = "113", inplace = True)
dc14= df1.replace(to_replace ="Guachapala", value = "114", inplace = True)
dc15= df1.replace(to_replace ="Camilo Ponce Enríquez", value = "115", inplace = True)
dc16= df1.replace(to_replace ="Guaranda", value = "201", inplace = True)
dc17= df1.replace(to_replace ="Chillanes", value = "202", inplace = True)
dc18= df1.replace(to_replace ="San José de Chimbo", value = "203", inplace = True)
dc18_1= df1.replace(to_replace ="Chimbo", value = "203", inplace = True)
dc19= df1.replace(to_replace ="Echeandía", value = "204", inplace = True)
dc19_1= df1.replace(to_replace ="Echeandia", value = "204", inplace = True)
dc20= df1.replace(to_replace ="San Miguel", value = "205", inplace = True)
dc21= df1.replace(to_replace ="Caluma", value = "206", inplace = True)
dc22= df1.replace(to_replace ="Las Naves", value = "207", inplace = True)
dc23= df1.replace(to_replace ="Azogues", value = "301", inplace = True)
dc23_1= df1.replace(to_replace ="Azoques", value = "301", inplace = True)
dc24= df1.replace(to_replace ="Biblián", value = "302", inplace = True)
dc24_1= df1.replace(to_replace ="Biblian", value = "302", inplace = True)
dc25= df1.replace(to_replace ="Cañar", value = "303", inplace = True)
dc26= df1.replace(to_replace ="La Troncal", value = "304", inplace = True)
dc27= df1.replace(to_replace ="El Tambo", value = "305", inplace = True)
dc28= df1.replace(to_replace ="Déleg", value = "306", inplace = True)
dc29= df1.replace(to_replace ="Suscal", value = "307", inplace = True)
dc30= df1.replace(to_replace ="Tulcán", value = "401", inplace = True)
dc32= df1.replace(to_replace ="Espejo", value = "403", inplace = True)
dc33= df1.replace(to_replace ="Mira", value = "404", inplace = True)
dc34= df1.replace(to_replace ="Montúfar", value = "405", inplace = True)
dc35= df1.replace(to_replace ="San Pedro de Huaca", value = "406", inplace = True)
dc36= df1.replace(to_replace ="Latacunga", value = "501", inplace = True)
dc37= df1.replace(to_replace ="La Maná", value = "502", inplace = True)
dc38= df1.replace(to_replace ="Pangua", value = "503", inplace = True)
dc39= df1.replace(to_replace ="Pujilí", value = "504", inplace = True)
dc40= df1.replace(to_replace ="Salcedo", value = "505", inplace = True)
dc41= df1.replace(to_replace ="Saquisilí", value = "506", inplace = True)
dc42= df1.replace(to_replace ="Sigchos", value = "507", inplace = True)
dc43= df1.replace(to_replace ="Riobamba", value = "601", inplace = True)
dc44= df1.replace(to_replace ="Alausí", value = "602", inplace = True)
dc45= df1.replace(to_replace ="Colta", value = "603", inplace = True)
dc46= df1.replace(to_replace ="Chambo", value = "604", inplace = True)
dc47= df1.replace(to_replace ="Chunchi", value = "605", inplace = True)
dc48= df1.replace(to_replace ="Guamote", value = "606", inplace = True)
dc49= df1.replace(to_replace ="Guano", value = "607", inplace = True)
dc50= df1.replace(to_replace ="Pallatanga", value = "608", inplace = True)
dc51= df1.replace(to_replace ="Penipe", value = "609", inplace = True)
dc52= df1.replace(to_replace ="Cumandá", value = "610", inplace = True)
dc53= df1.replace(to_replace ="Machala", value = "701", inplace = True)
dc54= df1.replace(to_replace ="Arenillas", value = "702", inplace = True)
dc55= df1.replace(to_replace ="Atahualpa", value = "703", inplace = True)
dc56= df1.replace(to_replace ="Balsas", value = "704", inplace = True)
dc57= df1.replace(to_replace ="Chilla", value = "705", inplace = True)
dc58= df1.replace(to_replace ="El Guabo", value = "706", inplace = True)
dc59= df1.replace(to_replace ="Huaquillas", value = "707", inplace = True)
dc60= df1.replace(to_replace ="Marcabelí", value = "708", inplace = True)
dc61= df1.replace(to_replace ="Pasaje", value = "709", inplace = True)
dc62= df1.replace(to_replace ="Piñas", value = "710", inplace = True)
dc63= df1.replace(to_replace ="Portovelo", value = "711", inplace = True)
dc64= df1.replace(to_replace ="Santa Rosa", value = "712", inplace = True)
dc65= df1.replace(to_replace ="Zaruma", value = "713", inplace = True)
dc66= df1.replace(to_replace ="Las Lajas", value = "714", inplace = True)
dc67= df1.replace(to_replace ="Esmeraldas", value = "801", inplace = True)
dc68= df1.replace(to_replace ="Eloy Alfaro", value = "802", inplace = True)
dc69= df1.replace(to_replace ="Muisne", value = "803", inplace = True)
dc70= df1.replace(to_replace ="Quinindé", value = "804", inplace = True)
dc70_1= df1.replace(to_replace ="Quininde", value = "804", inplace = True)
dc71= df1.replace(to_replace ="San Lorenzo", value = "805", inplace = True)
dc72= df1.replace(to_replace ="Atacames", value = "806", inplace = True)
dc73= df1.replace(to_replace ="Río Verde", value = "807", inplace = True)
dc73_1= df1.replace(to_replace ="Rioverde", value = "807", inplace = True)
dc73_2= df1.replace(to_replace ="Ríoverde", value = "807", inplace = True)
dc74= df1.replace(to_replace ="La Concordia", value = "808", inplace = True)
dc74_1= df1.replace(to_replace ="La Condordia", value = "808", inplace = True)
dc75= df1.replace(to_replace ="Guayaquil", value = "901", inplace = True)
dc76= df1.replace(to_replace ="Alfredo Baquerizo Moreno (Juján)", value = "902", inplace = True)
dc76_1= df1.replace(to_replace ="Alfredo Baquerizo Moreno", value = "902", inplace = True)
dc77= df1.replace(to_replace ="Balao", value = "903", inplace = True)
dc78= df1.replace(to_replace ="Balzar", value = "904", inplace = True)
dc79= df1.replace(to_replace ="Colimes", value = "905", inplace = True)
dc80= df1.replace(to_replace ="Daule", value = "906", inplace = True)
dc81= df1.replace(to_replace ="Durán", value = "907", inplace = True)
dc82= df1.replace(to_replace ="El Empalme", value = "908", inplace = True)
dc82_1= df1.replace(to_replace ="Empalme", value = "908", inplace = True)
dc83= df1.replace(to_replace ="El Triunfo", value = "909", inplace = True)
dc84= df1.replace(to_replace ="Milagro", value = "910", inplace = True)
dc85= df1.replace(to_replace ="Naranjal", value = "911", inplace = True)
dc86= df1.replace(to_replace ="Naranjito", value = "912", inplace = True)
dc87= df1.replace(to_replace ="Palestina", value = "913", inplace = True)
dc88= df1.replace(to_replace ="Pedro Carbo", value = "914", inplace = True)
dc89= df1.replace(to_replace ="Samborondón", value = "916", inplace = True)
dc90= df1.replace(to_replace ="Santa Lucía", value = "918", inplace = True)
dc90_1= df1.replace(to_replace ="Santa Lucia", value = "918", inplace = True)
dc91= df1.replace(to_replace ="Salitre (Urbina Jado)", value = "919", inplace = True)
dc91_1= df1.replace(to_replace ="Salitre", value = "919", inplace = True)
dc92= df1.replace(to_replace ="San Jacinto de Yaguachi", value = "920", inplace = True)
dc92_1= df1.replace(to_replace ="San Jacinto De Yaguachi", value = "920", inplace = True)
dc93= df1.replace(to_replace ="Playas", value = "921", inplace = True)
dc94= df1.replace(to_replace ="Simón Bolívar", value = "922", inplace = True)
dc95= df1.replace(to_replace ="Coronel Marcelino Maridueña", value = "923", inplace = True)
dc95_1= df1.replace(to_replace ="Crnel. Marcelino Maridueña", value = "923", inplace = True)
dc96= df1.replace(to_replace ="Lomas de Sargentillo", value = "924", inplace = True)
dc96_1= df1.replace(to_replace ="Lomas De Sargentillo", value = "924", inplace = True)
dc97= df1.replace(to_replace ="Nobol", value = "925", inplace = True)
dc98= df1.replace(to_replace ="General Antonio Elizalde", value = "927", inplace = True)
dc98_1= df1.replace(to_replace ="Gnral. Antonio Elizalde", value = "927", inplace = True)
dc99= df1.replace(to_replace ="Isidro Ayora", value = "928", inplace = True)
dc100= df1.replace(to_replace ="Ibarra", value = "1001", inplace = True)
dc101= df1.replace(to_replace ="Antonio Ante", value = "1002", inplace = True)
dc102= df1.replace(to_replace ="Cotacachi", value = "1003", inplace = True)
dc102_1= df1.replace(to_replace ="Cotacahi", value = "1003", inplace = True)
dc103= df1.replace(to_replace ="Otavalo", value = "1004", inplace = True)
dc104= df1.replace(to_replace ="Pimampiro", value = "1005", inplace = True)
dc105= df1.replace(to_replace ="San Miguel de Urcuquí", value = "1006", inplace = True)
dc106= df1.replace(to_replace ="Loja", value = "1101", inplace = True)
dc107= df1.replace(to_replace ="Calvas", value = "1102", inplace = True)
dc108= df1.replace(to_replace ="Catamayo", value = "1103", inplace = True)
dc109= df1.replace(to_replace ="Celica", value = "1104", inplace = True)
dc110= df1.replace(to_replace ="Chaguarpamba", value = "1105", inplace = True)
dc111= df1.replace(to_replace ="Espindola", value = "1106", inplace = True)
dc112= df1.replace(to_replace ="Gonzanamá", value = "1107", inplace = True)
dc113= df1.replace(to_replace ="Macará", value = "1108", inplace = True)
dc114= df1.replace(to_replace ="Paltas", value = "1109", inplace = True)
dc115= df1.replace(to_replace ="Puyango", value = "1110", inplace = True)
dc116= df1.replace(to_replace ="Saraguro", value = "1111", inplace = True)
dc117= df1.replace(to_replace ="Sozoranga", value = "1112", inplace = True)
dc118= df1.replace(to_replace ="Zapotillo", value = "1113", inplace = True)
dc119= df1.replace(to_replace ="Pindal", value = "1114", inplace = True)
dc120= df1.replace(to_replace ="Quilanga", value = "1115", inplace = True)
dc121= df1.replace(to_replace ="Olmedo", value = "1116", inplace = True)
dc122= df1.replace(to_replace ="Babahoyo", value = "1201", inplace = True)
dc123= df1.replace(to_replace ="Baba", value = "1202", inplace = True)
dc124= df1.replace(to_replace ="Montalvo", value = "1203", inplace = True)
dc125= df1.replace(to_replace ="Puebloviejo", value = "1204", inplace = True)
dc126= df1.replace(to_replace ="Quevedo", value = "1205", inplace = True)
dc127= df1.replace(to_replace ="Urdaneta", value = "1206", inplace = True)
dc128= df1.replace(to_replace ="Ventanas", value = "1207", inplace = True)
dc129= df1.replace(to_replace ="Vinces", value = "1208", inplace = True)
dc130= df1.replace(to_replace ="Palenque", value = "1209", inplace = True)
dc131= df1.replace(to_replace ="Buena Fe", value = "1210", inplace = True)
dc131_1= df1.replace(to_replace ="Buena Fé", value = "1210", inplace = True)
dc132= df1.replace(to_replace ="Valencia", value = "1211", inplace = True)
dc133= df1.replace(to_replace ="Mocache", value = "1212", inplace = True)
dc134= df1.replace(to_replace ="Quinsaloma", value = "1213", inplace = True)
dc135= df1.replace(to_replace ="Portoviejo", value = "1301", inplace = True)
dc137= df1.replace(to_replace ="Chone", value = "1303", inplace = True)
dc138= df1.replace(to_replace ="El Carmen", value = "1304", inplace = True)
dc139= df1.replace(to_replace ="Flavio Alfaro", value = "1305", inplace = True)
dc140= df1.replace(to_replace ="Jipijapa", value = "1306", inplace = True)
dc141= df1.replace(to_replace ="Junín", value = "1307", inplace = True)
dc142= df1.replace(to_replace ="Manta", value = "1308", inplace = True)
dc143= df1.replace(to_replace ="Montecristi", value = "1309", inplace = True)
dc144= df1.replace(to_replace ="Paján", value = "1310", inplace = True)
dc145= df1.replace(to_replace ="Pichincha", value = "1311", inplace = True)
dc146= df1.replace(to_replace ="Rocafuerte", value = "1312", inplace = True)
dc147= df1.replace(to_replace ="Santa Ana", value = "1313", inplace = True)
dc148= df1.replace(to_replace ="Sucre", value = "1314", inplace = True)
dc149= df1.replace(to_replace ="Tosagua", value = "1315", inplace = True)
dc150= df1.replace(to_replace ="24 de Mayo", value = "1316", inplace = True)
dc150_1= df1.replace(to_replace ="24 De Mayo", value = "1316", inplace = True)
dc151= df1.replace(to_replace ="Pedernales", value = "1317", inplace = True)
dc152= df1.replace(to_replace ="Olmedo", value = "1318", inplace = True)
dc153= df1.replace(to_replace ="Puerto López", value = "1319", inplace = True)
dc154= df1.replace(to_replace ="Jama", value = "1320", inplace = True)
dc155= df1.replace(to_replace ="Jaramijó", value = "1321", inplace = True)
dc156= df1.replace(to_replace ="San Vicente", value = "1322", inplace = True)
dc157= df1.replace(to_replace ="Morona", value = "1401", inplace = True)
dc158= df1.replace(to_replace ="Gualaquiza", value = "1402", inplace = True)
dc159= df1.replace(to_replace ="Limon Indanza", value = "1403", inplace = True)
dc159_1= df1.replace(to_replace ="Limón Indanza", value = "1403", inplace = True)
dc160= df1.replace(to_replace ="Palora", value = "1404", inplace = True)
dc161= df1.replace(to_replace ="Santiago", value = "1405", inplace = True)
dc162= df1.replace(to_replace ="Sucúa", value = "1406", inplace = True)
dc163= df1.replace(to_replace ="Huamboya", value = "1407", inplace = True)
dc164= df1.replace(to_replace ="San Juan Bosco", value = "1408", inplace = True)
dc165= df1.replace(to_replace ="Taisha", value = "1409", inplace = True)
dc166= df1.replace(to_replace ="Logroño", value = "1410", inplace = True)
dc167= df1.replace(to_replace ="Pablo VI", value = "1411", inplace = True)
dc168= df1.replace(to_replace ="Tiwintza", value = "1412", inplace = True)
dc169= df1.replace(to_replace ="Tena", value = "1501", inplace = True)
dc170= df1.replace(to_replace ="Archidona", value = "1503", inplace = True)
dc171= df1.replace(to_replace ="El Chaco", value = "1504", inplace = True)
dc172= df1.replace(to_replace ="Quijos", value = "1507", inplace = True)
dc173= df1.replace(to_replace ="Carlos Julio Arosemena", value = "1509", inplace = True)
dc173_1= df1.replace(to_replace ="Carlos Julio Arrosemena Tola", value = "1509", inplace = True)
dc174= df1.replace(to_replace ="Pastaza", value = "1601", inplace = True)
dc175= df1.replace(to_replace ="Mera", value = "1602", inplace = True)
dc176= df1.replace(to_replace ="Santa Clara", value = "1603", inplace = True)
dc177= df1.replace(to_replace ="Arajuno", value = "1604", inplace = True)
dc178= df1.replace(to_replace ="Quito", value = "1701", inplace = True)
dc179= df1.replace(to_replace ="Cayambe", value = "1702", inplace = True)
dc180= df1.replace(to_replace ="Mejía", value = "1703", inplace = True)
dc181= df1.replace(to_replace ="Pedro Moncayo", value = "1704", inplace = True)
dc182= df1.replace(to_replace ="Rumiñahui", value = "1705", inplace = True)
dc183= df1.replace(to_replace ="San Miguel de los Bancos", value = "1707", inplace = True)
dc183_1= df1.replace(to_replace ="San Miguel De Los Bancos", value = "1707", inplace = True)
dc184= df1.replace(to_replace ="Pedro Vicente Maldonado", value = "1708", inplace = True)
dc185= df1.replace(to_replace ="Puerto Quito", value = "1709", inplace = True)
dc186= df1.replace(to_replace ="Ambato", value = "1801", inplace = True)
dc187= df1.replace(to_replace ="Baños", value = "1802", inplace = True)
dc188= df1.replace(to_replace ="Cevallos", value = "1803", inplace = True)
dc189= df1.replace(to_replace ="Mocha", value = "1804", inplace = True)
dc190= df1.replace(to_replace ="Patate", value = "1805", inplace = True)
dc191= df1.replace(to_replace ="Quero", value = "1806", inplace = True)
dc192= df1.replace(to_replace ="San Pedro de Pelileo", value = "1807", inplace = True)
dc192_1= df1.replace(to_replace ="San Pedro De Pelileo", value = "1807", inplace = True)
dc193= df1.replace(to_replace ="Santiago de Píllaro", value = "1808", inplace = True)
dc193_1= df1.replace(to_replace ="Santiago De Pillaro", value = "1808", inplace = True)
dc194= df1.replace(to_replace ="Tisaleo", value = "1809", inplace = True)
dc195= df1.replace(to_replace ="Zamora", value = "1901", inplace = True)
dc196= df1.replace(to_replace ="Chinchipe", value = "1902", inplace = True)
dc197= df1.replace(to_replace ="Nangaritza", value = "1903", inplace = True)
dc198= df1.replace(to_replace ="Yacuambi", value = "1904", inplace = True)
dc199= df1.replace(to_replace ="Yantzaza (Yanzatza)", value = "1905", inplace = True)
dc199_1= df1.replace(to_replace ="Yantzaza", value = "1905", inplace = True)
dc200= df1.replace(to_replace ="El Pangui", value = "1906", inplace = True)
dc201= df1.replace(to_replace ="Centinela del Cóndor", value = "1907", inplace = True)
dc201_1= df1.replace(to_replace ="Centinela Del Cóndor", value = "1907", inplace = True)
dc202= df1.replace(to_replace ="Palanda", value = "1908", inplace = True)
dc203= df1.replace(to_replace ="Paquisha", value = "1909", inplace = True)
dc204= df1.replace(to_replace ="San Cristóbal", value = "2001", inplace = True)
dc204_1= df1.replace(to_replace ="San Cristobal", value = "2001", inplace = True)
dc205= df1.replace(to_replace ="Isabela", value = "2002", inplace = True)
dc206= df1.replace(to_replace ="Santa Cruz", value = "2003", inplace = True)
dc207= df1.replace(to_replace ="Lago Agrio", value = "2101", inplace = True)
dc208= df1.replace(to_replace ="Gonzalo Pizarro", value = "2102", inplace = True)
dc209= df1.replace(to_replace ="Putumayo", value = "2103", inplace = True)
dc210= df1.replace(to_replace ="Shushufindi", value = "2104", inplace = True)
dc211= df1.replace(to_replace ="Sucumbíos", value = "2105", inplace = True)
dc212= df1.replace(to_replace ="Cascales", value = "2106", inplace = True)
dc213= df1.replace(to_replace ="Cuyabeno", value = "2107", inplace = True)
dc214= df1.replace(to_replace ="Orellana", value = "2201", inplace = True)
dc215= df1.replace(to_replace ="Aguarico", value = "2202", inplace = True)
dc216= df1.replace(to_replace ="La Joya de los Sachas", value = "2203", inplace = True)
dc216_1= df1.replace(to_replace ="La Joya De Los Sachas", value = "2203", inplace = True)
dc217= df1.replace(to_replace ="Loreto", value = "2204", inplace = True)
dc218= df1.replace(to_replace ="Santo Domingo", value = "2301", inplace = True)
dc219= df1.replace(to_replace ="Santa Elena", value = "2401", inplace = True)
dc220= df1.replace(to_replace ="La Libertad", value = "2402", inplace = True)
dc221= df1.replace(to_replace ="Salinas", value = "2403", inplace = True)
dc222= df1.replace(to_replace ="Las Golondrinas", value = "9001", inplace = True) #territorio no defindo
dc223= df1.replace(to_replace ="Manga del Cura", value = "9003", inplace = True) #territorio no defindo
dc224= df1.replace(to_replace ="El Piedrero", value = "9004", inplace = True) #territorio no defindo
dc224= df1.replace(to_replace ="Exterior", value = "8800", inplace = True) #territotio extranjero

In [ ]:
df1.loc[(df1['prov_ubi'] == '13') & (df1['cant_ubi'] == 'Bolívar'), 'cant_ubi' ] = '1302'
df1.loc[(df1['prov_ubi'] == '4') & (df1['cant_ubi'] == 'Bolívar'), 'cant_ubi' ] = '402'
df1.loc[(df1['prov_res'] == '13') & (df1['cant_res'] == 'Bolívar'), 'cant_res' ] = '1302'
df1.loc[(df1['prov_res'] == '4') & (df1['cant_res'] == 'Bolívar'), 'cant_res' ] = '402'

In [ ]:
ds1= df1.replace(to_replace ="Hombre", value =  "1", inplace = True)
ds2= df1.replace(to_replace ="Mujer", value = "2", inplace = True)

In [ ]:
dt1= df1.replace(to_replace ="Indígena", value = "1", inplace = True)
dt2= df1.replace(to_replace ="Afroecuatoriano/a Afrodescendiente", value = "2", inplace = True)
dt3= df1.replace(to_replace ="Negro/a", value = "3", inplace = True)
dt4= df1.replace(to_replace ="Mulato/a", value = "4", inplace = True)
dt5= df1.replace(to_replace ="Montubio/a", value = "5", inplace = True)
dt6= df1.replace(to_replace ="Mestizo/a", value = "6", inplace = True)
dt7= df1.replace(to_replace ="Blanco/a", value = "7", inplace = True)
dt8= df1.replace(to_replace ="Otro/a", value = "8", inplace = True)
dt9= df1.replace(to_replace ="Ignorado/a", value = "9", inplace = True)

In [ ]:
da1= df1.replace(to_replace ="Urbana", value =  "1", inplace = True)
da2= df1.replace(to_replace ="Rural", value = "2", inplace = True)

In [ ]:
dv1= df1.replace(to_replace ="Vivo", value =  "1", inplace = True)
dv3= df1.replace(to_replace ="Fallecido menos de 48 horas", value = "2", inplace = True)
dv3= df1.replace(to_replace ="Fallecido en 48 horas y más", value = "3", inplace = True)

In [ ]:
df3= df1.iloc[:,[0,1,11,12,14,15,16,17,19,23,27,28,29,31,32]]
df3

In [ ]:
df0=df3
df0.to_csv('Enfermedades_Tropicales_2021.csv',sep=';', mode='a', index=False, header=False, encoding='UTF-8-SIG')

In [ ]:
Enfermedades_Tropicales= pd.read_csv("egresos_hospitalarios_2016.csv", header=0, sep=';', encoding='latin-1')
E1= Enfermedades_Tropicales.causa3.str.contains("A90|A91|B55|B57", case=False, regex=True)
df2 = Enfermedades_Tropicales[E1]